<!doctype html>
<html>
  <head>
    <link href="./assets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Presentations</h1>
    <ul>
      {{#each presentations}}
        <li>
          <div class="presentation-title">
            <a href="/presentations/{{slug}}/">{{title}}</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
